# Logs
logs
*.log
npm-debug.log*

#  Folders generated using parcel (https://parceljs.org/)
.cache
.parcel-cache
dist

# Dependency directories
node_modules
jspm_packages/


# Optional npm cache directory
.npm

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
